body {
    background-color:wheat;
}

.HHS {
    font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
    font: size 10px;
}

#highSchool {
    margin-bottom: size 5px;
}

#descHHS {
    display:
}

#jobHHS {
    text-align: center;
}